[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "sh -c 'FLASK_APP=app FLASK_DEBUG=1 FLASK_ENV=development flask run'"
prod = "gunicorn --workers 4 wsgi:application --bind 0.0.0.0:80 --log-syslog --log-level DEBUG"
test = "pytest"
cov = "pytest --cov=cc tests"

[packages]
flask = "*"
marshmallow = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
requests = "*"
pymysql = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
python-dateutil = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
