[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "bash -c 'FLASK_APP=app FLASK_DEBUG=1 FLASK_ENV=development flask run'"
prod = "gunicorn -w 4 app:application -b 0.0.0.0:80"
test = "pytest"
cov = "pytest --cov=cc tests"

[packages]
flask = "*"
marshmallow = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
requests = "*"
pymysql = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
python-dateutil = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
